 /*
/* Color Theme Swatches in Hex 
DarkGray: #798C8C;
MediumGray: #AEBFBE;
LightGray: #D0D9D4;
White: #F2EFDF;
Black: #59554C;
*/

@charset "utf-8";
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format(truetype), 
    url(..//assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/static/Montserrat-Light.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)  format(truetype);

    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Montserrat;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    outline: none;
}
* {
    transition:ease-in .3s;
}
/* --------------- */
.header {
    width: 100%;
    background-color: #D0D9D4;
    box-shadow: 0px 20px 55px 2px rgba(58, 58, 58, 0.2);
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
}
.active {
    background-color: transparent;
    border-bottom: 1px solid #F2EFDF;
}
.img__header{
    padding-left: 10%;
    width: 8%;
}
.nav--position {
    width: 100%;
    display: flex;
    padding: 0 5%;
}
.nav__menu__container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 2%;
    width: 100%;
}
.nav__itens {
    padding: 2% 5% 2% 0;
}
.nav__itens p {
    font-size: 1vw;

}
.nav__links p:hover {
    color: #f8b263;
    transition: .2s;
    transform: scale(102%);
}
.nav__links {
    text-decoration: none;
    color: #59554C;
}
.nav__links:visited {
    color: transparent;
}

/* --------------- */



.banner__container {
    background-color: #798C8C;
    width: 100%;
    height: 100vh;
}
/* --------------- */


.projetos__container {
    background-color: #D0D9D4;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    transition: ease-in .3s;
}

.projetos {
    background-image: url('../assets/img/construcao.svg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    margin-right: 2%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: no-repeat;
    transition: ease-in .3s;

    overflow: hidden;
    background-color: #F2EFDF;
}
.projetos:nth-child(1) {
    transition: ease-in .3s;

    background-image: url(../assets/img/abriuchaveiro.png) !important;
    background-position: center;
    background-size: cover;
}
.projetos:nth-child(1):hover{
    transition: ease-in .3s;
    background-size: 160%;
}


.projetos a {
    transition: ease-in .3s;

    text-align: center;
    width: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;
    text-align: center;
    position: relative;
    text-decoration: none;
    
}
.projetos a:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: #f1f1f1;
    opacity: 0;
    transition: ease-in .3s;
    background: linear-gradient(360deg,rgba(26, 25, 25, 0.7) 30%,transparent 80%);  
}
.projetos a:after::content{
    margin: 20px 4px;
}
.projetos a:hover:after {
    opacity: 1;
    transition: ease-in .3s;
    transform: scale(2px);
}
.content--projetos{
    text-decoration: none;
    transition: ease-in .3s;
    z-index: 1;
    color: white;
    display: none;
    border: 1px solid white;
    margin-bottom: 5%;
    padding: 10px 15px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

    text-align: center;
}
.content--active{
    transition: ease-in .3s;
    display: block;
}

/* --------------- */



/* --------------- */
.rodape__container {
    background-color: #59554C;
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.flex__container {
    width: 10%;
    padding-right: 5%;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.img--posicao {
    box-sizing: border-box;
    width: 20%;
}
.titulo__icones--posicao {
    font-size: 1.1em;
    line-height: 2.5em;
    color: #ced3b1;
}
/* --------------- */