 /*
/* Color Theme Swatches in Hex 
DarkGray: #798C8C;
MediumGray: #AEBFBE;
LightGray: #D0D9D4;
White: #F2EFDF;
Black: #59554C;
*/

@charset "utf-8";
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format(truetype), 
    url(..//assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/static/Montserrat-Light.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)  format(truetype),
    url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf)  format(truetype);

    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Montserrat;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    outline: none;
}
* {
    scroll-behavior: smooth;
    transition: ease-in .3s;

}
/* --------------- */
.header {
    width: 100%;
    background-color: #D0D9D4;
    box-shadow: 0px 20px 55px 2px rgba(58, 58, 58, 0.2);
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    z-index: 1;
}
.active {
    background-color: transparent;
    border-bottom: 1px solid #F2EFDF;
}
.img__header{
    padding-left: 10%;
    width: 6em;
}
.nav--position {
    width: 100%;
    display: flex;
    padding: 0 5%;
}
.nav__menu__container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding: 0 2%;
    width: 100%;
}
.nav__itens {
    padding: 2% 5% 2% 0;
}
.nav__itens p {
    font-size: 1vw;
}
.nav__links p:hover {
    color: #f8b263;
    transition: .2s;
    transform: scale(102%);
}
.nav__links {
    text-decoration: none;
    color: #59554C;
}
.nav__links:visited {
    color: transparent;
}

/* --------------- */
.banner__container {
    background-color: #798C8C;
    width: 100%;
    height: 100vh;
    padding-top: 4%;
    display: flex;
}
.banner--divisao-esquerda__container {
    color: #59554C;
    text-justify: distribute;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: #F2EFDF;
    font-size: 1.1em;
    padding: 0 1%;
    line-height: 3em;
}
.banner--divisao-direita__container {
    width: 40%;
    background-color: #59554C; 
}
/* --------------- */


.projetos__container {
    background-color: #59554C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.projetos {
    background-color: #F2EFDF;
    width: 400px;
    height: 240px;
    margin-right: 2%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow: hidden;
}
.projeto--img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
.projeto--img--active{
    transform: scale(1.03);
}
.projetos a {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    text-align: center;
    position: relative;
    text-decoration: none;    
}
.projetos a:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: #f1f1f1;
    opacity: 0;
    background: linear-gradient(360deg,rgba(26, 25, 25, 0.93) 40%,transparent 100%);  
    transition: ease-in .3s;
}
.projetos a:hover:after {
    opacity: 1;
    transition: ease-in .3s;

}
.legenda___projetos {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    color: white;
    display: none;
    margin-bottom: 5%;
    padding: 10px 15px;
    width: fit-content;
    height: fit-content;  
}
.legenda___projetos:nth-child(odd){
    font-size: 0.8em;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: normal;
}
.content--active {
    display: block;
}
/* --------------- */



/* --------------- */
.rodape__container {
    background: linear-gradient(40deg, #AEBFBE, #798C8C 40%);
    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.flex__container {
    width: 20%;
    padding-right: 5%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}
.img--posicao {
    box-sizing: border-box;
    width: 2em;
}
.titulo__icones--posicao {
    font-size: 1.1em;
    line-height: 2.5em;
    color: #ced3b1;
}
.rodape__container p {
    color: #fefefe;
}
/* --------------- */